@import iconos.styl

*
	box-sizing border-box
body
	font-family "Open Sans"
.login
	background #ededed
	color #404040
	font-size 16px
	padding 5% 0 15% 0
	header
		margin 0 auto
		padding 0.5em 0 0 0
		text-align center
		width 300px
		h1
			font-family "Cherry Swash"
			font-size 3em
	section
		margin 30px auto
		text-align center
		width 350px
		img
			width 50px
		p, img
			display inline-block
			vertical-align top
	form
		background-color #fefefe
		border 1px solid #dde0e8
		margin 0 auto
		width 350px
		.inputs
			padding 25px
			label, input
				display block
			label
				margin 10px 0
			input
				background-color #fbfbfb
				border 1px solid #ccc
				border-radius 2px
				padding 7.5px 15px
				width 90%
				&:focus
					border-color rgba(82, 168, 236, 0.8)
					box-shadow inset 0 1px 3px rgba(0, 0, 0, 0.075)
					outline 0
		.boton
			background-color rgb(239, 244, 246)
			overflow hidden
			padding 20px
			button
				background-color rgb(238, 238, 241)
				border 1px solid rgb(210, 210, 214)
				border-radius 2px
				color #555
				float right
				padding 7.5px 15px
				&:hover
					border-radius 0
// Generales
.icono
	color rgba(178, 178, 178, 1)
	font-size 1.2em
.borde
	background-color rgba(0, 0, 0, .01)
	float right
	height 100%
	width 6px
// Cabecera de app
.cabecera
	background-color #54728c
	border-bottom 1.5px solid rgba(53, 83, 108, 1)
	height 50px
	.titulo
		width 215px
		height 50px
		h1
			color rgba(255,255,255,1)
			font-family "Cherry Swash"
			font-size 2em
			margin 0
			padding 2.5px 1em
			text-shadow 1px 2px 4px rgba(73, 103, 128, 1),0 0 0 #000,1px 2px 4px rgba(73, 103, 128, 1),0 1px 0 rgba(103, 133, 158, 1)
		h1, .borde 
			display inline-block
		.borde
			background-color #66829a
			border-left 1px solid #466176
			border-right 1px solid #466176
			width 6px
// Sidebar
.sidebar
	background-color #f9f9f9
	height 100%
	position fixed
	width 215px
	section
		color #5e5e5e
		width 205px
		.usuario
			margin 10px 0
			padding 0 10px
			img
				border 2px solid rgba(255, 255, 255, 1)
				border-radius 30px
				opacity 0.8
				width 60px
			h5
				font-size 0.8em
				width 115px
			img, h5
				display inline-block
				vertical-align middle
		.perfil
			background-color #CD6560
			border 1px solid rgb(202, 54, 47)
			border-radius 2px
			color white
			font-size 0.9em
			margin 0 15px
			padding 7.5px
			text-align center
			width 170px
			a
				color white
				text-decoration none
		nav
			ul
				padding-left 0
				li
					font-size 14px
					margin 0px 0
					padding 10px 0 10px 15px
					&.activo
						background-color rgba(252, 252, 252, 1) //#f1f1f1
						border-top 1px solid rgba(228, 228, 228, 1)
						border-bottom 1px solid rgba(228, 228, 228, 1)
						margin-bottom -1px
						margin-top -1px
						width 215px
					&:hover
						background-color rgba(252, 252, 252, 1)
						border-top 1px solid rgba(228, 228, 228, 1)
						border-bottom 1px solid rgba(228, 228, 228, 1)
						margin-bottom -1px
						margin-top -1px
						width 209px
					.icono
						color #aaaaaa
						font-size 1.2em
					p
						margin 0 0 0 5px
						padding 0
						width 100px
					.alertas
						background-color #CD6560
						border 1px solid rgb(202, 54, 47)
						border-radius 2px
						color white
						padding 0
						position absolute
						text-align center
						right 15px
						width 20px
					p, .alertas, .icono
						display inline-block
						vertical-align top
	section, .borde
		display inline-block
	.borde
		background-color #ececec
		border-left 1px solid #dadada
		border-right 1px solid #dadada
.sidebar
.contenido
	display inline-block
	vertical-align top
.contenido
	padding-left 215px
	menu
		border 1px solid rgba(225, 225, 225, 1)
		border-radius 2px
		margin 10px
		padding 0 4px 0 0
		span
			background-color rgba(245, 245, 245, 1)
			border-right 1px solid rgba(225, 225, 225, 1)
			display inline-block
			margin-right -4px
			padding 0.7em
			&:nth-child(4)
				border-right none !important
			.icono
				font-size 1.2em
			&:hover .icono-phone
				color rgb(88, 202, 88)
				-webkit-text-stroke-color: rgb(48, 162, 48);
				-webkit-text-stroke-width: 0.75px; 
				
