@import iconos.styl

*
	box-sizing border-box

body
	font-family "Open Sans"
	min-width 780px

nav, ul, li, span, p
	margin 0
	padding 0
	list-style none

a
	text-decoration none

.login
	background #ededed
	color #404040
	font-size 16px
	padding 5% 0 15% 0
	header
		margin 0 auto
		padding 0.5em 0 0 0
		text-align center
		width 300px
		h1
			font-family "Cherry Swash"
			font-size 3em
	section
		margin 30px auto
		text-align center
		width 350px
		img
			width 50px
		p, img
			display inline-block
			vertical-align top
	form
		background-color #fefefe
		border 1px solid #dde0e8
		margin 0 auto
		width 350px
		.inputs
			padding 25px

			label, input
				display block
			label
				margin 10px 0
			input
				background-color #fbfbfb
				border 1px solid #ccc
				border-radius 2px
				padding 7.5px 15px
				width 90%
				&:focus
					border-color rgba(82, 168, 236, 0.8)
					box-shadow inset 0 1px 3px rgba(0, 0, 0, 0.075)
					outline 0
		.boton
			background-color rgb(239, 244, 246)
			overflow hidden
			padding 20px
			button
				background-color rgb(238, 238, 241)
				border 1px solid rgb(210, 210, 214)
				border-radius 2px
				color #555
				float right
				padding 7.5px 15px
				&:hover
					border-radius 0


	.boton
		background-color rgb(239, 244, 246)
		overflow hidden
		padding 20px
		button
			background-color rgb(238, 238, 241)
			border 1px solid rgb(210, 210, 214)
			border-radius 2px
			color #555
			float right
			padding 7.5px 15px
			&:hover
				border-radius 0
// Generales
.icono
	color rgba(178, 178, 178, 1)
	font-size 1.2em

.informacion
	overflow hidden
	white-space nowrap
	form
		background-color #fefefe
		width 100%
		legend
			font-size 20pt
			margin-bottom 1em

		.inputs
			padding 5px 25px
			label, input
				display inline-block
			label
				width 20%
				margin 10px 0
			input
				position relative
				margin-left 20px
				background-color #fbfbfb
				border 1px solid #ccc
				border-radius 2px
				padding 7.5px 15px
				width 30%
				&:focus
					border-color rgba(82, 168, 236, 0.8)
					box-shadow inset 0 1px 3px rgba(0, 0, 0, 0.075)
					outline 0	
		.inputs:last-of-type
			margin-bottom 45px

		small
			margin-left 1em
			color #888
			font-style italic

		.boton
			margin auto 0
			color #fff
			padding 7px 40px
			border-style solid
			border-radius 2px
			border-width 2px
			border-color hsl(199, 53%, 40%)
			background-color hsl(199, 53%, 43%)
	
	.comunicado-completo,
	.lista-comunicados
		vertical-align top
		display inline-block

	.lista-comunicados
		.item-comunicado
			height 120px
			width 100%
			overflow hidden
			white-space nowrap

			div
				border-style solid
				width 100%
				position relative
			
			.bot 
				float bottom
				top 55px
			p				
				font-family 'Open Sans'
				font-size 11pt
				margin 0
				
			
			.estado
				margin-right 0.5em

			.titulo, .fecha
				display inline-block

			.titulo
				width 70%

			.fecha
				width 30%

		.item-comunicado:nth-child(odd)
			background-color hsl(0, 0%, 95%)

		.item-comunicado-visto
			background-color hsl(0, 0%, 85%)

		.item-comunicado-viendo
			background-color #54728C
			color #fff
	
	.lista-comunicados
		width 35%

	.comunicado-completo

		border-style solid
		min-height 100%
		height auto !important
		overflow hidden
		width 65%


.borde
	background-color rgba(0, 0, 0, .01)
	float right
	height 100%
	width 6px
// Cabecera de app
.cabecera
	background-color #54728c
	border-bottom 1.5px solid rgba(53, 83, 108, 1)
	color rgba(255,255,255,1)
	height 50px
	overflow hidden
	.titulo
		width 100%
		height 50px
		h1
			font-family "Cherry Swash"
			font-size 2em
			margin 0
			padding 2.5px 1em
			text-shadow 1px 2px 4px rgba(73, 103, 128, 1),0 0 0 #000,1px 2px 4px rgba(73, 103, 128, 1),0 1px 0 rgba(103, 133, 158, 1)
		span
			font-size 18px
			font-weight bold
			margin 12px 0 0 10px
		.borde
			background-color #66829a !important
			border-left 1px solid #466176 !important
			border-right 1px solid #466176 !important
		span, h1, .borde 
			display inline-block
	.opciones
		margin 10px 20px
		a
			color white
			margin-right 20px

// Sidebar
.sidebar
	background-color #f9f9f9
	height 100%
	position fixed
	width 215px
	section
		color #5e5e5e
		width 204px
		.usuario
			margin 10px 0
			padding 0 10px
			img
				border 2px solid rgba(255, 255, 255, 1)
				border-radius 30px
				opacity 0.8
				width 60px
			h5
				font-size 0.8em
				width 115px
			img, h5
				display inline-block
				vertical-align middle
		.perfil
			background-color #CD6560
			border 1px solid rgb(202, 54, 47)
			border-radius 2px
			color white
			font-size 0.9em
			margin 0 15px
			padding 7.5px
			text-align center
			width 170px
			a
				color white
				text-decoration none
		nav
			margin-top 10px
			ul
				padding-left 0
				li
					font-size 14px
					margin 0px 0
					padding 10px 0 10px 15px
					&.activo
						background-color rgba(252, 252, 252, 1) //#f1f1f1
						border-top 1px solid rgba(228, 228, 228, 1)
						border-bottom 1px solid rgba(228, 228, 228, 1)
						margin-bottom -1px
						margin-top -1px
						width 215px
					&:hover
						background-color rgba(240, 240, 240, 1)
						border-top 1px solid rgba(228, 228, 228, 1)
						border-bottom 1px solid rgba(228, 228, 228, 1)
						box-shadow inset 1px 1px 3px rgba(228, 228, 228, 1), inset -1px -1px 3px rgba(228, 228, 228, 1)
						margin-bottom -1px
						margin-top -1px
						width 215px
					.icono
						color #aaaaaa
						font-size 1.2em
					p
						margin 0 0 0 5px
						padding 0
						width 100px
					.alertas
						background-color #CD6560
						border 1px solid rgb(202, 54, 47)
						border-radius 2px
						color white
						padding 0
						position absolute
						text-align center
						right 15px
						width 20px
					p, .alertas, .icono
						display inline-block
						vertical-align top
	section, .borde
		display inline-block
	.borde
		background-color #ececec
		border-left 1px solid #dadada
		border-right 1px solid #dadada
// Menu de cursos
#cursos
	background-color #f9f9f9
	display none
	height 100%
	left 215px
	position fixed
	width 200px
	.lista_cursos
		width 189px
		font-size 15px
		.curso_grados
			.nombre_curso
				background-color white
				border-top 1px solid rgba(228, 228, 228, 1)
				border-bottom 1px solid rgba(228, 228, 228, 1)
				box-shadow 0px 1px 1px rgba(228, 228, 228, 0.5)
				padding 5px 10px
				width 194px
				.icono
					color #aaaaaa
					font-size 1.2em
					width 20px
				p
					width 100px
				.icono, p
					display inline-block
					vertical-align
			ul
				li
					padding 5px 20px
	.lista_cursos
	.borde
		display inline-block
	.borde
		background-color #ececec
		border-left 1px solid #dadada
		border-right 1px solid #dadada

.sidebar
.contenido
	display inline-block
	vertical-align top

.contenido
	width 100%
	padding-left 215px
	.informacion
		font-size 14px
		margin 0 10px
		.setting
			background-color rgb(245, 245, 245);
			border 1px solid rgb(231, 231, 231);
			border-radius 4px
			overflow hidden
			padding 20px
		.unidad
			margin 10px
			label
				margin-right 20px
		.agregar-nota
			margin 10px
			float right
			form
				background-color #f5f5f5
				legend
					font-size 1.3em
					margin-bottom 0
			label
				padding 0 15px
			input
				min-width 100px
			button
				background: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
				border: 1px solid #1c74b3;
				border-top-color: #2c8ed1;
				border-bottom-color: #0d5b97;
				padding 2.5px 5px
		.unidad
		.agregar-nota
			display inline-block
		.lista-alumnos
			margin-top 20px
			.titulo-lista-alumnos
				background-color rgb(245, 245, 245);
				border 1px solid rgb(231, 231, 231);
				border-bottom none
				padding 10px 20px
				table
					th
						-webkit-transform: rotate(-90deg);
						-moz-transform: rotate(-90deg);
						height 100px
						padding 20px 0
	table
		font-family "Helvetica"
		text-align center
		width 100%
		th
			border 1px solid rgb(231, 231, 231);
			padding 10px 0
		td
			border 1px solid rgb(231, 231, 231);
			padding 10px
			input
				width 40px
	button
		background-color #CD6560
		border 1px solid rgb(202, 54, 47)
		color white
		float right
		height 40px
		margin 10px auto
		width 200px
	.mensaje
		bdrs
		margin 20px 0
	menu
		border 1px solid rgba(225, 225, 225, 1)
		border-radius 2px
		margin 10px
		padding 0 4px 0 0
		span
			background-color rgba(245, 245, 245, 1)
			border-right 1px solid rgba(225, 225, 225, 1)
			display inline-block
			margin-right -4px
			padding 0.7em
			&:nth-child(4)
				border-right none !important
			.icono
				font-size 1.2em
			&:hover .icono-phone
				color rgb(88, 202, 88)
				-webkit-text-stroke-color: rgb(48, 162, 48);
				-webkit-text-stroke-width: 0.75px; 
