{% extends "lista_padres.html" %}

{% block selector %}

{% endblock %}

{% block script %}
<script type="text/javascript">
	// $(document).on("ready",inicio);

	// function inicio(){
	// 	$("select").on("change",elegir)
	// }

	// function elegir(){
	// 	 var id = $(this).val();
	// 	 $.ajax({
	// 	 	data:{'id':id},
	// 	 	type: "GET",
	// 	 	url: "/ajax/padres/",
	// 	 	success: function(data){
	// 	 		var alumnos = "";
	// 	 		var padres = "";
	// 	 		for (var i = 1; i < data.length ; i=i+2){
	// 	 			alumnos += data[i].fields.first_name+" "+data[i].fields.last_name+"<br><br>"
	// 	 		}
	// 	 		for (var i = 0; i < data.length ; i=i+2){
	// 	 			padres += data[i].fields.first_name+" "+data[i].fields.last_name+"<br><br>"
	// 	 		}
	// 	 		$('#alumnos').html(alumnos);
	// 	 		$('#padres').html(padres);
	// 	 		console.log(data);
	// 	 	},
	// 	 	error: function(data){
	// 	 		console.log(data);
	// 	 	}
	// 	 });
	// }
</script>	
{% endblock script %}