{% extends "base-app.html" %}

{% block contenido %}
        <div class="contenido">
            <header class="cabecera">
                <div class="titulo">
                    <h1>Comunicados</h1>
                </div>
            </header>
            
            <section class="informacion">
                <section class="lista-comunicados">

                    <div class="item-comunicado">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte">
                            Hoy no habrá clases, no vengan!
                            asdasd
                            asd
                            asd
                            asd
                            </p>
                        </div>
                        
                        <div class="bot">
                            <p class="remitente">enviado por <span>Institucion</span></p>
                        </div>                   
                    </div>

                    <div class="item-comunicado item-comunicado-viendo">
                        <div class="top">
                            <p class="titulo">Entrega de exámenes parciales</p>
                            <p class="fecha"> 15 Enero</p>
                            <p class="mensaje-parte">
                            Hoy se entregarán examenes parciales de los siguientes cursos:
                            Matemática, Física, Biología
                            </p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="remitente">enviado por <span>Institucion</span></p>
                        </div>                   
                    </div>
                    
                    <div class="item-comunicado">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="remitente">enviado por <span>Institucion</span></p>
                        </div>                        
                    </div>
                    
                    <div class="item-comunicado">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="remitente">enviado por <span>Institucion</span></p>
                        </div>           
                    </div>

                    <div class="item-comunicado">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="remitente">enviado por <span>Institucion</span></p>
                        </div>           
                    </div>

                    <div class="item-comunicado">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="remitente">enviado por <span>Institucion</span></p>
                        </div>           
                    </div>
                </section>
                <section class="comunicado-completo">
                </section>
            </section>
        </div>
{% endblock contenido %}