{% extends "base-app.html" %}

{% block contenido %}
        <div class="contenido">
            <header class="cabecera">
                <div class="titulo">
                    <p>joder</p>
                </div>
            </header>
            
            <section class="informacion">
                <section class="lista-comunicados">

                    <div class="item-comunicado ">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="estado">Nuevo</p>
                        </div>                   
                    </div>

                    <div class="item-comunicado item-comunicado-viendo">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="estado">Nuevo</p>
                        </div>                   
                    </div>
                    
                    <div class="item-comunicado">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="estado">Nuevo</p>
                        </div>                        
                    </div>
                    
                    <div class="item-comunicado">
                        <div class="top">
                            <p class="titulo">Feriado</p>
                            <p class="fecha"> 15 Enero</p>
                        </div>
                        
                        <div class="mid">
                            <p class="mensaje-parte"></p>
                        </div>
                        
                        <div class="bot">
                            <p class="estado">Nuevo</p>
                        </div>           
                    </div>
                </section>
                <section class="comunicado-completo">
                </section>
            </section>
        </div>
{% endblock contenido %}