{% extends "base-app.html" %}

{% block contenido %}
        <div class="contenido">
            <header class="cabecera">
                <div class="titulo">
                    <p>joder</p>
                </div>
            </header>
            
            <section class="informacion">
            <!--<menu>
                <span><div class="icono icono-address-book"></div></span>

                <span><div class="icono icono-checkmark"></div></span>

                <span><div class="icono icono-phone"></div></span>

                <span><div class="icono icono-bookmark"></div></span>
            </menu>-->
                <div class="asistencias">
                </div>
            </section>
        </div>
{% endblock contenido %}