{% extends "base-app.html" %}

{% block contenido %}
        <section class="contenido">
            <header class="cabecera">
                <div class="titulo">
                    <p>joder</p>
                </div>
            </header>
            <!--<menu>
                <span><div class="icono icono-address-book"></div></span>

                <span><div class="icono icono-checkmark"></div></span>

                <span><div class="icono icono-phone"></div></span>

                <span><div class="icono icono-bookmark"></div></span>
            </menu>-->
            <div class="asistencias">
            </div>
        </section>
{% endblock contenido %}