{% extends "base-app.html" %}

{% block contenido %}
        <div class="contenido">
            <header class="cabecera">
                <div class="titulo">
                    <p>Registro Alumno</p>
                </div>
            </header>
			
			<section class="informacion">
				<form method="POST">
						<legend>Registrar Alumno</legend>
								{% csrf_token %}
								<div class="inputs">
									<label> Nombres:</label>
									<input type='text' name='first_name' maxlength='20'>
									<small>Ingrese cuantos nombres tenga separados por espacios</small>
									{{ formulario.first_name.errors }}
								</div>
								<div class="inputs">
									<label> Apellidos: </label>
									<input type='text' name='last_name' maxlength='30'>

									{{ formulario.last_name.errors }}

								</div>
								<div class="inputs">
									<label>Teléfono Fijo:</label>
									<input type='tel' name='telefono' maxlength='30'>
									<small>Ejemplo: 044-419203</small>

								</div>
								<div class="inputs">
									<label>Celular :</label>
									<input type='tel' name='celular' maxlength='30'>
									<small>Ejemplo: 942321276</small>
									
								</div>
								<div class="inputs">
									<label>DNI :</label>
									<input type='text' name='dni' maxlength='30'>
								</div>
								<div class="inputs">
									<label>Email :</label>
									<input type='email' name='email' maxlength='30'>
									<small>Ejemplo: correo@hotmail.com</small>
									{{ formulario.email.errors }}

								</div>
								<div class="inputs">
									<label>Dirección :</label>
									<input type='text' name='direccion' maxlength='30'>
									
								</div>

								<div class="inputs">
									<label>apoderado :</label>
									<input type='tel' name='apoderado' maxlength='30'>
									
								</div>
								
								<br>
								<input type="submit" value="Registrar" class="boton">
				</form>
	            <div class="asistencias">
	            </div>
	        </section>
        </div>
{% endblock contenido %}